*{margin: 0; border: 0;}
ul,ol{list-style: none;}
body{overflow: hidden;}
/* #xxx{background-image: linear-gradient(to right, #a3a7ac31 1px, transparent 1px),linear-gradient(to bottom, #a3a7ac31, transparent 1px);background-size: 20px 20px;} */
#nav{position: fixed; top: 0; margin:0 auto;right:0; padding: 10px;}
#leftNav{display: inline-block; margin-right: 8px;}
#mainNav{display: inline-block; margin-right: 8px;}
canvas {display: block;position: fixed; top: 0; left: 0; }
.icon {
    width: 20px; height: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
 }
.icon:hover{
    transform: scale(1.2);
}
.icon.activeBorder{
    border-bottom: 0.5px solid black;
}
.icon.activeScale{
    transform: scale(1.2);
}